*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #131921;
  --color-3b4149: #3b4149; 
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1b1b1c;
  --color-f3f3f3: #f3f3f3;
}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.gap-5{
  gap: 5px;
}
/* header part */
.padded-content {
  padding-left: 10%;
  padding-right: 10%;
}
#header .header-top-strip{
border-bottom: 1px solid var(--color-3b4149);
background-color: var(--color-131921);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper.input-group-text{
  background-color: var(--color-febd69);
}
.header-bottom{
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a ,
.header-bottom .dropdown button
 {
  color: white;
  letter-spacing: .3px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/* header part end here */

/* footer part */
footer{
  background-color: var(--color-232f3e);
}
footer:not(:first-child){
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  line-height: 20px;
  font-weight: 400;
}
/* footer part end here */

/* home part */
.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color:var(--color-bf4800) ;
  margin: 0 0 12px;
}
.main-banner-content h5{
  font-size: 42px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}
.main-banner-content button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.main-banner-content button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

.small-banner-content{
  top: 25%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color:var(--color-bf4800) ;
  margin: 0 0 12px;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}
.small-banner-content button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.small-banner-content button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.small-banner{
  width: 49%;
}

/* home wrapper-2 */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
/* home wrapper-2 end here */
/* caagerles section */
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories>div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories>div>div{
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid var(--color-ededed);
}

/* .adda {  
  border-bottom: 1px solid var(--color-ededed);
  border-right: 1px solid var(--color-ededed);
} */
/* catagories ens here */

/* marquee part */


/* marquee part end here */

/* blog part */
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 30px;
}
.blog-card{
  background-color: white;
  
  border-radius: 10px;
}
.card-image img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-btn{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.blog-btn:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.blog-content{
  padding: 15px;
}
.blog-content p.date{
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-777777);
}
.blog-content h5.title{
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc{
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
/* blog part end here */

/* product part */
.product-card{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.product-card .product-image{
  height: 250px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card .product-image > img:last-child{
  display: none;
}
.product-card:hover .product-image > img:nth-child(1){
  display: none;
}
.product-card:hover .product-image > img:last-child{
  display: block;
}
.product-card:hover .action-bar{
  right: 10px;
}
.product-card .product-details h6{
  font-size: 13px;
  color: var(--color-bf4800);
}
.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.action-bar{
  top: 10%;
  right: -15%;
  transition: .3s;
}
.wishlist-icon{
  top: 2%;
  right: 10px;
}
/* product part end here */

/* special-product */
.special-product{
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
}
.special-product .special-product-content h5{
  color: var(--color-bf4800);
}
.special-product .special-product-content h6{
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.btn-cart{
  background-color:var(--color-232f3e);
  color:white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
}
.btn-cart:hover{
  background-color: var(--color-777777);
  color: black;
  border: none;
}
/* special-product end here */

/* famous card */
.famous-card img{
  border-radius: 10px;
}
.famous-card .famous-content{
  top: 10%;
  left: 5%;
}
.famous-content h5{
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 7px;
  color: white;
}
.famous-content h6{
  font-size: 22px;
  line-height: 25px;
  color: white;
}
.famous-content p{
  font-size: 13px;
  line-height: 24px;
  font-weight: 300; 
  color: white;
}
/* famous card end here */
/* home part end here */

/* our store part */

/* filter card  */
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
}
.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.form-check-input:checked{
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}
.filter-card ul,
.form-check .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.sub-title{
 font-size: 14px;
 font-weight: 600;
 color: var(--color-1c1c1b); 
 margin-bottom: 20px;
}
.user-email{
  display: flex;
  align-items: center;
  gap: 10px;
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  
}
.random-1{
  display: flex;
}
.random-products h5{
  font-size: 14px;
  margin-bottom: 8px;
}
.border-line{
  border-bottom: 1px solid var(--color-3b4149);
}
.filter-sort-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img{
  width: 35px;
  height: 35px;
  background-color: var(--color-f3f3f3);
  padding: 8px;
  border-radius: 3px;
}
/* filter card ends here */

/* our store part ends here */